In [1]:
# sets is collection of unique objects 
set_var=set()
print(set_var)

set()

In [4]:
print(type(set_var))

<class 'set'>

In [5]:
set_var={1,2,3,4,2,3,5,6}

In [6]:
set_var

{1, 2, 3, 4, 5, 6}

In [7]:
set_var={"bhagwati","tejas","dhriti","arjun"}

In [8]:
set_var

{'arjun', 'bhagwati', 'dhriti', 'tejas'}

In [9]:
type(set_var)

set

In [10]:
#sets does not use indexing for retrieving element
set_var[1]

TypeError: 'set' object is not subscriptable

In [11]:
#here we can see that it is giving error that object set is not subscriptable
# in built functions in sets
set_var.add("megha")

In [12]:
set_var
#it will print set in alphabetical order

{'arjun', 'bhagwati', 'dhriti', 'megha', 'tejas'}

In [15]:
set1={1,4,5,6,9,10,16,18}
set2={1,4,8,6,10,15,13,19}
set2.difference(set1)

{8, 13, 15, 19}

In [16]:
set2.difference_update(set1)

In [17]:
set2

{8, 13, 15, 19}

In [21]:
# so here if i use difference it will only give me difference of the set  but if i use difference .update it will provide me 
#an updated set
set2

{8, 13, 15, 19}

In [19]:
set2

{8, 13, 15, 19}

In [22]:
set3={1,5,8,19,10,15,13,18,16,15}

In [23]:
set3

{1, 5, 8, 10, 13, 15, 16, 18, 19}

In [24]:
set3.intersection(set2)

{8, 13, 15, 19}

In [26]:
set3.pop()
#it will delete first element of set

1

In [27]:
set3

{5, 8, 10, 13, 15, 16, 18, 19}

In [29]:
# a dictionary is a collection which is unordered , changeable and indexed.it has key value pair
dic={}
type(dic)

dict

In [30]:
my_dic={"Bhagwati":81901931,"Tejas":12346,"sargun":234556,"parul":125678}
my_dic["Tejas"]

12346

In [35]:
for x in my_dic:
    print (x)
    #it will give all the key of dictionary

Bhagwati
Tejas
sargun
parul

In [36]:
for x in my_dic.values():
    print(x)
    #it will provide all the values of corresponding keys

81901931
12346
234556
125678

In [37]:
#we can check both key and values 
for x in my_dic.items():
    print(x)

('Bhagwati', 81901931)
('Tejas', 12346)
('sargun', 234556)
('parul', 125678)

In [38]:
# for adding a new value
my_dic["Arjun"]=15678

In [39]:
my_dic

{'Bhagwati': 81901931,
 'Tejas': 12346,
 'sargun': 234556,
 'parul': 125678,
 'Arjun': 15678}

In [40]:
#if we want to replace some key value
my_dic["Bhagwati"]=9868106934

In [41]:
my_dic

{'Bhagwati': 9868106934,
 'Tejas': 12346,
 'sargun': 234556,
 'parul': 125678,
 'Arjun': 15678}

In [45]:
# nested dictionary
name1={"Bhawana":"female"}
name2={"Tejas":"male"}
name3={"Megha":"female"}
name={"first":name1,"second":name2,"third":name3}

In [46]:
name

{'first': {'Bhawana': 'female'},
 'second': {'Tejas': 'male'},
 'third': {'Megha': 'female'}}

In [49]:
print(name["first"])

{'Bhawana': 'female'}

In [50]:
print(name["first"]["Bhawana"])

female

In [53]:
# Tuples are not mutable it is genarally used where definition of a programme is used only once 
#we cant change the items of a tuple however we can replace the whole tuple with new items
my_tuple=("bhagwati","parul","ekankshi")

In [54]:
my_tuple[0]

'bhagwati'

In [55]:
type(my_tuple)

tuple

In [58]:
my_tuple.count("bhagwati")
#it will count number of times bhagwati in the tuple

1

In [59]:
my_tuple.index("parul")

1