In [1]:
#boolen ,logical variable,list,dictionaries,tuples
#boolen true or false other variables can also be consider as  boolean variable
#true is 1 and false is 0
print(True,False)

True False

In [2]:
my_string="Bhagwati18"
print(my_string.isalnum())

True

In [3]:
print(my_string.startswith("B"))

True

In [4]:
print(my_string.capitalize())
#capitalize only first alphabet of any sring

Bhagwati18

In [5]:
print(my_string.rfind("g"))
#it will return the highest index in the string where the character g is found

3

In [6]:
print(my_string.encode())
#b" is for unicode

b'Bhagwati18'

In [7]:
#boolean and logical operaters
my_string="Bhagwati 18"
my1_string="Tejas"
print((my_string.isalpha())or(my1_string.isalpha()))

True

In [8]:
#list is a data strcture in python which are mutable and changeable ,ordered sequence of elements each value which is inside a list
#is called item.as in the string  are defined as characters with in the quotes list are defined having values between the square brackets
type(["name"])

list

In [9]:
type([" bhagwti","tejas","ishwer"])

list

In [10]:
lst=list()

In [11]:
lst=["bhagwtai","tejas","mahi",1,4,5,7,True,False]

In [12]:
print(lst)

['bhagwtai', 'tejas', 'mahi', 1, 4, 5, 7, True, False]

In [13]:
len(lst)

9

In [14]:
#append function is used to add more items in the list at the end
lst.append("vandana")

lst.append(22)
#it will add items to the list at the end one by one it takes only one item at one time

In [15]:
lst

['bhagwtai', 'tejas', 'mahi', 1, 4, 5, 7, True, False, 'vandana', 22]

In [16]:
# insert function it add items to a list in a specific order
lst.insert(2,"name")
#here 2 is the index number

In [17]:
lst

['bhagwtai', 'tejas', 'name', 'mahi', 1, 4, 5, 7, True, False, 'vandana', 22]

In [18]:
lst

['bhagwtai', 'tejas', 'name', 'mahi', 1, 4, 5, 7, True, False, 'vandana', 22]

In [19]:
lst[6]
# gives element at index 6

5

In [20]:
lst.insert(3,"priya") 
#insert also add only one item at one time but it add item to a specific place like here priya will be added at index 3

In [21]:
lst[ : ]
#it will give all the element
lst[3:]
#it will provide all from index 3 to rest

['priya', 'mahi', 1, 4, 5, 7, True, False, 'vandana', 22]

In [22]:
lst[:7]
#it will not take last element

['bhagwtai', 'tejas', 'name', 'priya', 'mahi', 1, 4]

In [23]:
lst.append(["john","paras"])
#it will create a nested list

In [24]:
lst

['bhagwtai',
 'tejas',
 'name',
 'priya',
 'mahi',
 1,
 4,
 5,
 7,
 True,
 False,
 'vandana',
 22,
 ['john', 'paras']]

In [25]:
#if we want to add a list as all te items should be added seperately
lst.extend(["john","pars"])

In [26]:
lst

['bhagwtai',
 'tejas',
 'name',
 'priya',
 'mahi',
 1,
 4,
 5,
 7,
 True,
 False,
 'vandana',
 22,
 ['john', 'paras'],
 'john',
 'pars']

In [27]:
# some operations on the list
list_new=[1,4,3,5,7]
sum(list_new)

20

In [28]:
list_new.pop()
#by defoult will take last item

7

In [29]:
list_new

[1, 4, 3, 5]

In [30]:
list_new.pop(2)
#it will drop 3 item

3

In [31]:
list_new

[1, 4, 5]

In [32]:
#count calculate total occurence of desired item in the list
list_new.count(1)

1

In [33]:
list_new.index(4,0,2)
# .index(value,index)

1

In [34]:
list_new.index(5)

2

In [35]:
min(list_new)

1

In [36]:
max(list_new)

5

In [37]:
list_new*5
#it means it will print the same list 5 times

[1, 4, 5, 1, 4, 5, 1, 4, 5, 1, 4, 5, 1, 4, 5]